<div class="center hero-unit">	
	<h1></h1>
	<div id="highlightme">
	  This is a database web app for
	  <a href="leagueoflegends.com">League of Legends</a>
	</div> 
	<%= link_to "Sign up now!", '#', class: "btn btn-large" %>
</div>
