<div class="center hero-unit">	
	<h1 class="header_above"></h1>
	<h2 id="highlightme">
	  This is a database web app for
	  <a href="leagueoflegends.com">League of Legends</a>
	</h2> 
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
</div>
