
	  <h1>You don't need to go pro to make money off of playing League of Legends.</h1>
	  <ul>
	   <li>Record a short video of you doing something awesome in League of Legends on youtube</li>
	   <li>Upload your video on our site and prove that you are in it.</li>
	   <li>Enter it in our daily,weekly, and monthly "Best of" competitions</li>
	   <li>We give the power to the people and allow them to vote on the winner</li>
	   <li>Win money or just play for Fun!</li>
		</ul>

		<h3>We've got you covered</h3>
		<p>Let our qualified team review videos and users to make sure their not stealing or faking accounts to buff votes"</p>

	  <a href="leagueoflegends.com">League of Legends</a>
	  <p></p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
<p></p>
<h2>All posters and voters will need to prove that they have League of Legends account with level 15 or higher. Don't worry. We'll never ask you for your League of Legends account password.</h2>

