<div class="row">
	<div class="span8">
			<h3>Videos</h3>
			<ol class="video">
				<iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/"+@video.code %>"></iframe>
			</ol>
	</div>
</div>