<div class="row">
	<div class="span8">
			<ol class="video">
				<iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/"+@video.code %>"></iframe>
				<p><%= @video.video_description %></p>
			</ol>
	</div>
</div>