	<div class="row">
		<h1>Champion Index</h1>
		<% @champions.each do |champion| %>
			<div class="span2 table-bordered">
				<%= link_to image_tag("#{champion.icon_path}"), "champions/#{champion.id}" %>
				<h3><%= champion.name%></h3>
			</div>
		<% end %>

	</div>
